.title {
    font-family: var(---poppins);
    font-size: 18px;
    word-wrap: break-word;
    white-space: pre-wrap;
    color:#4f4c4c;
}


@media screen and (max-width: 600px) {
    .title {
        font-size: 16px;
    }
  }