
.loadingContainer {
  background: #dce3e3;
  width: 100%;
  height: 300px;
  display: flex;
}

.container{
    background: #e6e2e2;
    width: 100%;
    height: 300px;
    display: flex;

}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

@media screen and (max-width: 600px) {
    .image {
        height: 250px;
    }
    .container {
        height: 180px;
    }
    .loadingContainer {
      background: #dce3e3;
      width: 100%;
      height: 180px;
      display: flex;
    }
  }