.container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    /* display:none; */
}

.item {
    margin: 10px 5px;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e81a37
}

.title {
    font-family: var(--roboto400);
    letter-spacing: 1px;
    margin: var(--categoryFontSize);
    line-height: 20px;
    font-size: var(--categoryFontSize);
    color: white;
    font-weight: var(--titleListFont);
    padding: 0px;
    margin: 5px 20px;

    
}

.link {
    text-decoration: none;
}

.cardContainer {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

}

.card {
    display : 'inline-block';
    border-radius: 5px
}

.cardItem {
    height: 120px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    background: #5de8ee3d
}

.cardTitle {
    display:flex;
    color: #2d2f2f;
    font-size: 12px;
    position: absolute;
    top: 80%
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}