html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* background: green; */
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  /* background: rgb(48, 47, 47) */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  color: rgb(1, 85, 163);
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 0px;
}

h4 {
  color: rgb(33, 124, 85);
  font-family: inherit;
  letter-spacing: 0.5px;
  margin: 6px 0px;
  font-size: 12px;
}

p {
  color: rgb(24, 24, 22);
  font-family: inherit;
  letter-spacing: 0.5px;
  font-size: 20px;
  margin: 6px 0px;
}

button {
  border-radius: 0px;
  color: rgb(245, 245, 245);
  font-family: inherit;
  letter-spacing: 0.5px;
  margin: 8px 0px;
  background: rgb(204, 12, 182);
  font-weight: 900;
  box-shadow: none;
  border: none;
  outline: none;
}

/* div {
  border: 1px solid blue;
  padding: 2px
} */

@media screen and (max-width: 600px) {
  p {
    font-size: 16px;
  }
}



/* Pagination */


/* .page-item {
  display: flex;
}


.page-item.active .page-link {
  background-color: #2557a7;
  border-color: #2557a7

}

.page-link {
  color: #2557a7
}
.page-link:hover {
  color: #2557a7
} */

.page-item.active .page-link {
  background-color: #2557a7;
  border-color: #2557a7;
  color: white

}

.page-item.active  {
  background-color: #2557a7;
  border-color: #2557a7;
  color: white

}
.pagination {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

}

ul.pagination li {
  width:50px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 10px
  
}

ul.pagination li:hover {
  background-color: #337ab7;
  
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 16px;
  padding:  4px
}

ul.pagination li .active a {
  color: white
}


ul.pagination li a:hover, 
ul.pagination li a.active {
  color: white;
  /* background-color: #337ab7 */

}


.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px
}

ul.pagination li .active {
  background-color: #337ab7
}


@media screen and (max-width: 600px) {
  /* .pagination {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  
  } */
  
  ul.pagination li {
    width:30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin: 10px
    
  }
  
  ul.pagination li:hover {
    background-color: #337ab7;
    
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 10px;
    padding:  4px
  }
  
  ul.pagination li .active a {
    color: white
  }
  
  
  ul.pagination li a:hover, 
  ul.pagination li a.active {
    color: white;
    background-color: #337ab7
  
  }
  
  
  .page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7
  }
  
  .pagination-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px
  }
  
  ul.pagination li .active {
    background: #337ab7
  }
}

.paginationDiv{
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0
}