
.container {
    display: flex;
    padding:3px;
    box-shadow: 1px 2px 1px #c6c8c6;
}


.imageContainer {
    width: 100px;
    height: 80px;
    margin: 5px;
    position: relative;
    /* border: 1px solid black; */
    background: #daabd6;
}

.image {
    object-fit: fill;
    width: 100px;
    height: 80px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header1 {
    color: black;
    font-size:50px;
    margin: 0px

}

.posted{
    font-size: 10px;
    letter-spacing:1px;
}

.brand {
    margin : 3px 3px;
    font-size: 12px;
    letter-spacing: 1px;
}

.state {
    color: #727677cf;
    font-size: 16px;
    margin: 1px 0px
}

.stateBox {
    color: white;
    background-color: rgb(7, 255, 234);
    margin: 5px;
    display: flex;
    width: 80px;
    position: absolute;
    z-index: 12;

}

.brand {
    color: rgb(63, 58, 58);
}

/* @media screen and (min-width: 600px) {
    .imageContainer {
        width: 200px;
        height: 80px;
        margin: 5px;
    }
  } */


.mainContainer{
    box-shadow: 1px 5px 10px #c6c8c6;
    border: .5px .5px 0px .5px solid rgb(197, 190, 190)
}

@media screen and (max-width: 300px) {
    .imageContainer {
        /* width: 200px; */
        /* background: #00FFFF; */
    }
  }